.btn {
  cursor: pointer;
  user-select: none;
  outline: transparent;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  /* transform: rotate(0deg);
  transition: transform 300ms ease-in-out; */
}

.btn-rounded {
  border-radius: 50%;
  display: inline-flex;
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
}

.btn-info {
  background-color: blue;
  color: white;
  border: none;
}

.btn-alt {
  border: 1px solid blue;
  color: blue;
  padding: 10px;
  border-radius: 4px;
}

.btn-alt:hover {
  background-color: blue;
  color: white;
}

.btn-valid {
  border: 1px solid green;
  color: green;
  font-size: 1em;
}

.btn-valid:hover {
  background-color: green;
  color: white;
}

.btn-pops {
  animation: btn 300ms ease-in-out forwards;
}

.btn-pops-delayed {
  animation: btn 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

.btn-pops-and-turns {
  animation: btn 300ms ease-in-out forwards, rotate 300ms ease-in-out forwards;
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(45deg);
  }
}
