.form {
  display: grid;
  grid-template-columns: 1fr;
}

.submit-btn {
  margin: 20px auto 0 auto;
}

.form-container {
  margin: 10px auto;
  max-width: 50%;
  background-color: white;
  padding: 30px;
  transform: translateY(-110%);
  display: none;
  position: relative;
  z-index: 0;
  opacity: 1;
}

.slide-in {
  display: block;
  animation: slideIn 400ms ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
