.field-label {
  margin-top: 20px;
}

.field {
  margin-top: 10px;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.errorMessage {
  display: none;
  color: red;
  margin-top: 10px;
}
