.overflow-container {
  overflow: hidden;
}

.container {
  max-width: 80%;
  margin: 0 auto 20px auto;
}

.card {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 35px;
  background-color: white;
  border: 1px solid #eee;
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
}

.edit-section {
  display: grid;
  align-items: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Times, serif;
  font-weight: 600;
  font-size: 30px;
}

.label {
  display: none;
}

.name,
.institution,
.company {
  font-weight: 100;
  font-size: 35px;
}

.email,
.phone,
.date,
.description {
  font-size: 18px;
  margin-top: 5px;
}

.degree,
.position {
  font-size: 22px;
  margin-top: 5px;
}
