.container {
  max-width: 80%;
  margin: 0 auto;
}

.card {
  padding: 30px;
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.edit-section {
  position: absolute;
  top: 35px;
  right: 30px;
  /* float: right; */
}

.form-container {
  margin: 10px auto;
  max-width: 50%;
  background-color: white;
  padding: 30px;
}

.name > .label,
.email > .label,
.phone > .label {
  display: none;
}

.name {
  font-size: 25px;
  height: 25px;
}

.email,
.phone {
  height: 1em;
  margin-top: 5px;
}
